<div class="wrap" ng-hide="editorEnabled">
    <ul class="recipes single">
      <li>
        <h2>{{ recipe.title }}</h2>
        <img src="img/{{recipe.image}}" />
        <p>{{ recipe.description }}</p>
        <h3>Ingredients</h3>
        <ul class="ingredients">
          <li ng-repeat="ingredient in recipe.ingredients">
            {{ ingredient }}
          </li>
        </ul>
      </li>
    </ul>
    <button ng-click="toggleEditor(recipe)">Edit</button>
  </div>
    
    <div class="wrap" ng-show="editorEnabled">
        <form ng-submit="saveRecipe(recipe, recipe._id)" name="updateRecipe">
            <label>Title</label>
            <input ng-model="recipe.title">
            <label>Date</label>
            <input ng-model="recipe.date">
            <label>Description</label>
            <input ng-model="recipe.description">
            <label>Image</label>
            <input ng-model="recipe.image">
            <label>ID</label>
            <input ng-model="recipe._id">
            <button type="submit">Submit</button>
        </form>
        <button type="cancel" ng-click="toggleEditor()">Cancel</button>
    </div>
    
    <button type="submit" ng-click="back()">Back</button>